.inputBox {
  bottom: 10%;
  position: absolute;
  padding: 0.5rem 0.5rem;
  border: 2px solid var(--ion-color-light);
  width: 96%;
  border-radius: 1rem;
  margin-left: 2%;
  background: var(--ion-color-light);
  box-shadow: 0px 2px 2px 0px var(--ion-color-light-shade);

  display: flex;
  align-items: center;
}

.inputBox .send-button {
  width: 10%;
  display: flex;
  justify-content: center;
}

.messages {
  height: 83%;
  margin: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.message {
  background: var(--ion-color-light-tint);
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0px 1px 2px 0px var(--ion-color-light-shade);
  max-width: 90%;
  width: fit-content;
}

.message p {
  margin: 0.1rem 0;
}